.flashcards-form {
    width: 90%;
}

.flashcard {
    background-color: #e7e0eb;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.plus-sign {
    color: #e7e0eb;
}

.trashcan {
    color: #ba1a1a;
}

.tag-input[contenteditable]:empty::before {
    content: "Enter a tag...";
    color: gray;
}

.tag-input {
    padding: 5px;
    overflow: hidden;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid black;
    white-space: pre;
}

.tag-input:hover, .flashcard-input:hover {
    cursor: text;
}

.tag-input-area {
    display: inline-block;
    padding: 5px;
}

.add-tag {
    border: none;
    background: none;
}

.add-tag-area {
    display: inline-block;
    padding: 5px;
}

.remove-tag {
    border: none;
    background: none;
    margin: 3px;
    padding: 0;
    margin: 0;
}

.flashcard-section {
    margin-top: 50px;
}

.flashcard-input {
    background-color: #e7e0eb;
    width: 90%;
    display: block;
    overflow: hidden;
    resize: none;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

.flashcard-question[contenteditable]:empty::before {
    content: "Enter a question...";
    color: gray;
}

.flashcard-answer[contenteditable]:empty::before {
    content: "Enter an answer...";
    color: gray;
}

.flashcard-input:focus, .tag-input:focus {
    outline: none;
    border-bottom-color: #6750a4;
}

.btn-success {
    background-color: #6750a4 !important;
    color: #e7e0eb !important;
    border-style: none !important;
}

.btn-danger {
    background-color: #ba1a1a !important;
    color: #ffdad6!important;
    border-style: none !important;
}

.btn-remove-tag {
    background: none !important;
    border: none !important;
}

.top-card-options {
    border-bottom: 2px solid gray;
    padding: 5px;
}