.navbar-nav a {
    padding: 3px;
}

nav a {
    color: #6750a4 !important;
    margin-left: 0.25em !important;
}

nav a:hover {
    color: white;
}
.nav-background {
    background-color: #e9ddff !important;
}
.icon-color{
    color: #6750a4;
}
