.home-header {
    text-align: center;
}

.home-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.myCard {

    float: left;
    width: 33.33%;
    background-color: #e7e0eb !important;
}
.columnRow {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.columnRow:after {
    content: "";
    display: table;
    clear: both;
}

.main {
    background-color: #fffbff;
    color: #1c1b1e;
}

.main a {
    color: #6750a4
}

.main a:hover {
    color: #1c1b1e;
}